{% extends "layouts/system_base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block content %}
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row g-6 mb-3">
            <!-- Gamification Card -->
            <div class="col-md-12 col-xxl-8">
            <div class="card h-100">
                <div class="d-flex align-items-end row">
                <div class="col-md-6 order-2 order-md-1">
                    <div class="card-body">
                    {% if user.profile.birth|is_birthday %}
                    <h4 class="card-title mb-4">🎂 <span class="fw-bold">{{user.profile.membername}}</span> 님, <br>생일을 진심으로 축하드립니다! 🎉</h4>
                    <p class="mb-0">오늘 하루는 특별한 당신을 위한 날입니다.</p>
                    <p>늘 행복과 건강이 함께하길 바랍니다. 🥳</p>
                    {% else %}
                    <h4 class="card-title mb-4">안녕하세요. <span class="fw-bold">{{user.profile.membername}}</span> 님! 👋</h4>
                    <p class="mb-0">성공은 꾸준한 노력에서 시작됩니다! 🚀</p>
                    <p>오늘의 한 걸음이 내일의 변화를 만듭니다.</p>
                    {% endif %}
                    <a href="{% url 'system_manage:user_detail' user.pk %}" class="btn btn-primary">View Profile</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-end order-1 order-md-2">
                    <div class="card-body pb-0 px-0 pt-2">
                    <img
                        src="{% if user.profile.gender == 'MALE' %}{% static 'system/assets/img/illustrations/illustration-john-light.png' %}{% elif user.profile.gender == 'FEMALE' %}{% static 'system/assets/img/illustrations/illustration-daisy-light.png' %}{% else %}{% static 'system/assets/img/illustrations/trophy.png' %}{% endif %}"
                        height="186"
                        class="scaleX-n1-rtl"
                        alt="View Profile"/>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <!--/ Gamification Card -->

            <div class="col-xxl-2 col-sm-6">
            <div class="card h-100">
                <div class="card-body">
                <div class="d-flex justify-content-between align-items-start flex-wrap gap-2">
                    <div class="avatar">
                        <div class="avatar-initial bg-label-primary rounded-3">
                            <i class="ri-coin-line ri-24px"></i>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="#"><i class="ri-chat-history-line text-primary"></i></a>
                    </div>
                </div>
                <div class="card-info">
                    <h5 class="mb-1">사용자 금 시세</h5>
                    <a
                    href="javascript:;"
                    data-bs-target="#editPriceModal"
                    data-bs-toggle="modal">
                    <p>
                        1돈: <b id="don_price">{{gold_price.don_price|intcomma}}</b> 원
                        <br>
                        1g: <b id="price">{{gold_price.price|intcomma}}</b> 원
                    </p>
                    </a>
                    <div class="badge bg-label-secondary rounded-pill">{{ gold_price.updated_at|timesince_custom }}</div>
                </div>
                </div>
            </div>
            </div>
            <div class="col-xxl-2 col-sm-6">
            <div class="card h-100">
                <div class="card-body">
                <div class="d-flex justify-content-between align-items-start flex-wrap gap-2">
                    <div class="avatar">
                        <div class="avatar-initial bg-label-success rounded-3">
                            <b>N</b>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="javascript:;" id="btnRefreshNaverPrice"><i class="ri-refresh-line text-success"></i></a>
                    </div>
                </div>
                <div class="card-info">
                    <h5 class="mb-1">네이버 금 시세</h5>
                    <p>
                        1돈: <b id="don_naver_price">{{gold_price.don_naver_price|intcomma}}</b> 원
                        <br>
                        1g: <b id="naver_price">{{gold_price.naver_price|intcomma}}</b> 원
                    </p>
                    <div class="badge bg-label-secondary rounded-pill">{{ gold_price.naver_updated_at|timesince_custom }}</div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="card mb-6">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title mb-0">상품 <div class="badge bg-label-primary rounded-pill">{{total_product_count|intcomma}} 건</h5>
            <div>
              <a href="#" class="btn btn-label-secondary btn-sm" href="javascript:;"
                    data-bs-target="#createProductModal"
                    data-bs-toggle="modal"><span><i class="ri-add-line me-2"></i>상품 등록</span></a>
              <button class="btn btn-label-primary btn-sm" id="btnBulkUpdate" data-don-price="{{gold_price.don_price}}"><span><i class="ri-refresh-line me-2"></i>상품 시세 일괄 적용</span></button>
              <button class="btn btn-label-success btn-sm" id="btnBulkApply"><span><i class="ri-stock-line me-2"></i>네이버 판매가 일괄 변경</span></button>
            </div>
          </div>
          <div class="card-body">
            <form id="search-form" method="get" action="">
              <div class="row">
                <div class="col-12">
                  <div class="input-group input-group-merge input-group-sm">
                    <span class="input-group-text" id="basic-addon-search31"><i class="ri-search-line"></i></span>
                    <input type="text" class="form-control" id="search_keyword" name="search_keyword" placeholder="상품명 또는 상품번호(채널상품, 원상품)를 입력해주세요..." aria-label="Search..." aria-describedby="basic-addon-search31" value="{{search_keyword}}"/>
                  </div>
                </div>
              </div>
            </form>
            <div class="table-responsive text-nowrap">
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th>상품명  <a href="?search_keyword={{search_keyword}}&sort=name&order={% if order == 'asc' and sort == 'name' %}desc{% else %}asc{% endif %}">{% if sort == 'name' %}{% if order == 'desc' %}<i class="ri-sort-desc ms-2"></i>{% else %}<i class="ri-sort-asc ms-2"></i>{% endif %}{% else %}<i class="ri-arrow-up-down-line ms-2"></i>{% endif %}</a></th>
                    <th>판매가 <a href="?search_keyword={{search_keyword}}&sort=price&order={% if order == 'asc' and sort == 'price' %}desc{% else %}asc{% endif %}">{% if sort == 'price' %}{% if order == 'desc' %}<i class="ri-sort-desc ms-2"></i>{% else %}<i class="ri-sort-asc ms-2"></i>{% endif %}{% else %}<i class="ri-arrow-up-down-line ms-2"></i>{% endif %}</a></th>
                    <th>중량 <a href="?search_keyword={{search_keyword}}&sort=gold&order={% if order == 'asc' and sort == 'gold' %}desc{% else %}asc{% endif %}">{% if sort == 'gold' %}{% if order == 'desc' %}<i class="ri-sort-desc ms-2"></i>{% else %}<i class="ri-sort-asc ms-2"></i>{% endif %}{% else %}<i class="ri-arrow-up-down-line ms-2"></i>{% endif %}</a></th>
                    <th>공임비 <a href="?search_keyword={{search_keyword}}&sort=labor_cost&order={% if order == 'asc' and sort == 'labor_cost' %}desc{% else %}asc{% endif %}">{% if sort == 'labor_cost' %}{% if order == 'desc' %}<i class="ri-sort-desc ms-2"></i>{% else %}<i class="ri-sort-asc ms-2"></i>{% endif %}{% else %}<i class="ri-arrow-up-down-line ms-2"></i>{% endif %}</a></th>
                    <th>부가비 <a href="?search_keyword={{search_keyword}}&sort=sub_cost&order={% if order == 'asc' and sort == 'sub_cost' %}desc{% else %}asc{% endif %}">{% if sort == 'sub_cost' %}{% if order == 'desc' %}<i class="ri-sort-desc ms-2"></i>{% else %}<i class="ri-sort-asc ms-2"></i>{% endif %}{% else %}<i class="ri-arrow-up-down-line ms-2"></i>{% endif %}</a></th>
                    <th>판매가 배율 <a href="?search_keyword={{search_keyword}}&sort=markup_rate&order={% if order == 'asc' and sort == 'markup_rate' %}desc{% else %}asc{% endif %}">{% if sort == 'markup_rate' %}{% if order == 'desc' %}<i class="ri-sort-desc ms-2"></i>{% else %}<i class="ri-sort-asc ms-2"></i>{% endif %}{% else %}<i class="ri-arrow-up-down-line ms-2"></i>{% endif %}</a></th>
                    <th>옵션</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  {% if product_list %}
                    {% for i in product_list %}
                    <tr>  
                      <td>
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="d-flex flex-column">
                              <a class="text-heading text-truncate" href="javascript:;" data-bs-target="#editProductModal" data-bs-toggle="modal" data-product-id="{{i.id}}" data-channel-product-no="{{i.channel_product_no}}" data-name="{{i.name}}" data-gold="{{i.gold|strip_decimal}}" data-labor-cost="{{i.labor_cost}}" data-sub-cost="{{i.sub_cost}}" data-markup-rate="{{i.markup_rate|strip_decimal}}"><span class="fw-medium">{{i.name}}</span></a>
                              <a href="javascript:;" data-bs-target="#editProductModal" data-bs-toggle="modal" data-product-id="{{i.id}}" data-channel-product-no="{{i.channel_product_no}}" data-name="{{i.name}}" data-gold="{{i.gold|strip_decimal}}" data-labor-cost="{{i.labor_cost}}" data-sub-cost="{{i.sub_cost}}" data-markup-rate="{{i.markup_rate|strip_decimal}}"><small class="text-truncate">[ {{i.channel_product_no}} ]</small></a>
                            </div>
                        </div>
                      </td>
                      <td><span class="text-heading">{{i.price|intcomma}}원</span></td>
                      <td>
                        <div class="d-flex justify-content-start align-items-center">
                          <div class="d-flex flex-column">
                            <span class="text-heading text-truncate"><span class="fw-medium">{{i.gold|strip_decimal}}g</span></span>
                            <small class="text-truncate">[ {{i.gold_don|strip_decimal:2}}돈 ]</small>
                          </div>
                      </div>
                    </td>
                      <td>{{i.labor_cost|intcomma}}원</td>
                      <td>{{i.sub_cost|intcomma}}원</td>
                      <td>{{i.markup_rate|strip_decimal}}</td>
                      <td>
                          <a href="javascript:;" data-bs-target="#optionModal" data-bs-toggle="modal" data-product-id="{{i.id}}" data-name="{{i.name}}">
                            {% if i.option_group_quantity > 0 %}
                            <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" 
                            aria-label="&lt;span&gt;
                            {% if i.option_group_name1 %}
                              {{i.option_group_name1}}&lt;br&gt;
                            {% endif %}
                            {% if i.option_group_name2 %}
                              {{i.option_group_name2}}&lt;br&gt;
                            {% endif %}
                            {% if i.option_group_name3 %}
                              {{i.option_group_name3}}&lt;br&gt;
                            {% endif %}" 
                            data-bs-original-title="&lt;span&gt;
                            {% if i.option_group_name1 %}
                              {{i.option_group_name1}}&lt;br&gt;
                            {% endif %}
                            {% if i.option_group_name2 %}
                              {{i.option_group_name2}}&lt;br&gt;
                            {% endif %}
                            {% if i.option_group_name3 %}
                              {{i.option_group_name3}}&lt;br&gt;
                            {% endif %}" 
                            >
                            <span class="badge rounded-pill {% if i.option_group_flag %}bg-label-primary{% else %}bg-label-warning{% endif %} text-capitalized"><i class="icon-base ri {% if i.option_group_flag %}ri-check-line{% else %}ri-close-line{% endif %} icon-16px my-50"></i> ( {{i.option_group_quantity}} )</span>
                            </span>
                            {% else %}
                            <span class="badge rounded-pill bg-label-secondary text-capitalized"><i class="icon-base ri ri-close-line icon-16px my-50"></i> ( {{i.option_group_quantity}} )</span>
                            {% endif %}
                          </a>
                      </td>
                      <td>
                        <div class="dropdown">
                          <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item btn-apply" href="javascript:;" data-product-id="{{i.id}}" data-name="{{i.name}}" data-option-group-flag="{{i.option_group_flag}}"><i class="ri-upload-2-line me-1"></i> 네이버 판매가 변경</a>
                            <a class="dropdown-item" href="javascript:;" data-bs-target="#editProductModal" data-bs-toggle="modal" data-product-id="{{i.id}}" data-channel-product-no="{{i.channel_product_no}}" data-name="{{i.name}}" data-gold="{{i.gold|strip_decimal}}" data-labor-cost="{{i.labor_cost}}" data-sub-cost="{{i.sub_cost}}" data-markup-rate="{{i.markup_rate|strip_decimal}}"><i class="ri-pencil-line me-1"></i> 수정</a>
                            <a class="dropdown-item btn-delete" href="javascript:;" data-product-id="{{i.id}}" data-name="{{i.name}}"><i class="ri-delete-bin-line me-1"></i> 삭제</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                        <td class="text-center" colspan='8'>데이터가 없습니다.</td>
                    </tr>
                  {% endif %}              
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <!-- / Content -->
    <div class="modal fade" id="editPriceModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-simple modal-edit-price">
          <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body p-0">
              <div class="text-center mb-6">
                <h4 class="mb-2">금 시세 수정</h4>
                <p class="mb-6">금 1돈 시세를 수정합니다.</p>
              </div>
              <form id="editPriceForm" class="row g-5" onsubmit="return false">
                <div class="col-12">
                    <div class="form-floating form-floating-outline">
                      <input
                        type="text"
                        id="price"
                        name="price"
                        class="form-control number-only"
                        value="{{gold_price.don_price}}"
                        placeholder="{{gold_price.don_price}}"/>
                      <label for="price">금 1돈 시세 (원)</label>
                    </div>
                </div>
                <div class="col-12 text-center d-flex flex-wrap justify-content-center gap-4 row-gap-4">
                  <button type="button" id="btnEditPrice" class="btn btn-primary">저장</button>
                  <button
                    type="reset"
                    class="btn btn-outline-secondary"
                    data-bs-dismiss="modal"
                    aria-label="Close">
                    닫기
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="createProductModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-simple modal-create-product">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-body p-0">
            <div class="text-center mb-6">
              <h4 class="mb-2">상품 등록</h4>
              <p class="mb-6">상품 정보를 입력합니다.</p>
            </div>
            <form id="createProductForm" class="row g-5" onsubmit="return false">
              <div class="col-12">
                  <div class="form-floating form-floating-outline">
                    <input
                      type="text"
                      id="modalCreateChannelProductNo"
                      name="channel_product_no"
                      class="form-control number-only"
                      placeholder="채널 상품 번호"/>
                    <label for="modalCreateChannelProductNo">채널 상품 번호</label>
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-floating form-floating-outline">
                    <input
                      type="text"
                      id="modalCreateGold"
                      name="gold"
                      class="form-control number-decimal-only"
                      placeholder="중량"/>
                    <label for="modalCreateGold">중량</label>
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-floating form-floating-outline">
                    <input
                      type="text"
                      id="modalCreateLaborCost"
                      name="labor_cost"
                      class="form-control number-only"
                      placeholder="공임 비용"/>
                    <label for="modalCreateLaborCost">공임 비용</label>
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-floating form-floating-outline">
                    <input
                      type="text"
                      id="modalCreateSubCost"
                      name="sub_cost"
                      class="form-control number-only"
                      placeholder="부가 비용"/>
                    <label for="modalCreateSubCost">부가 비용</label>
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-floating form-floating-outline">
                    <input
                      type="text"
                      id="modalCreateMarkupRate"
                      name="markup_rate"
                      class="form-control number-decimal-only"
                      placeholder="판매가 배율"/>
                    <label for="modalCreateMarkupRate">판매가 배율</label>
                  </div>
              </div>
              <div class="col-12 text-center d-flex flex-wrap justify-content-center gap-4 row-gap-4">
                <button type="button" id="btnCreateProduct" class="btn btn-primary">저장</button>
                <button
                  type="reset"
                  class="btn btn-outline-secondary"
                  data-bs-dismiss="modal"
                  aria-label="Close">
                  닫기
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editProductModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-simple modal-edit-product">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-body p-0">
            <div class="text-center mb-6">
              <h4 class="mb-2">상품 수정</h4>
              <p class="mb-6" id="modalEditProductDescription">상품 정보를 입력합니다.</p>
            </div>
            <form id="editProductForm" class="row g-5" onsubmit="return false">
              <input type="hidden" id="modalEditProductId" name="product_id" value="">
              <div class="col-12">
                  <div class="form-floating form-floating-outline">
                    <input
                      type="text"
                      id="modalEditChannelProductNo"
                      name="channel_product_no"
                      class="form-control number-only"
                      placeholder="채널 상품 번호" disabled/>
                    <label for="modalEditChannelProductNo">채널 상품 번호</label>
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-floating form-floating-outline">
                    <input
                      type="text"
                      id="modalEditGold"
                      name="gold"
                      class="form-control number-decimal-only"
                      placeholder="중량"/>
                    <label for="modalEditGold">중량</label>
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-floating form-floating-outline">
                    <input
                      type="text"
                      id="modalEditLaborCost"
                      name="labor_cost"
                      class="form-control number-only"
                      placeholder="공임 비용"/>
                    <label for="modalEditLaborCost">공임 비용</label>
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-floating form-floating-outline">
                    <input
                      type="text"
                      id="modalEditSubCost"
                      name="sub_cost"
                      class="form-control number-only"
                      placeholder="부가 비용"/>
                    <label for="modalEditSubCost">부가 비용</label>
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-floating form-floating-outline">
                    <input
                      type="text"
                      id="modalEditMarkupRate"
                      name="markup_rate"
                      class="form-control number-decimal-only"
                      placeholder="판매가 배율"/>
                    <label for="modalEditMarkupRate">판매가 배율</label>
                  </div>
              </div>
              <div class="col-12 text-center d-flex flex-wrap justify-content-center gap-4 row-gap-4">
                <button type="button" id="btnEditProduct" class="btn btn-primary">저장</button>
                <button
                  type="reset"
                  class="btn btn-outline-secondary"
                  data-bs-dismiss="modal"
                  aria-label="Close">
                  닫기
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="optionModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-simple modal-option">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-body">
            <div class="text-center mb-6">
              <h4 class="mb-2">상품 옵션
                <button class="btn btn-primary btn-sm" id="modalFetchOption"><i class="ri-refresh-line"></i></button>
              </h4>
              <p class="mb-6" id="modalOptionDescription">상품 옵션 정보 입니다.</p>
              
            </div>
            <div id="modalOptionContent">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="progressModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <form class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="progressModalTitle">네이버 판매가격 업데이트</h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col mb-6 mt-2">
                <div class="progress bg-label-primary">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" 
                  style="width: 0%" aria-valuenow="0"
                  aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span id="progressModalDescription">작업 준비 중 입니다.</span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>

<div id="loadingOverlay" class="position-fixed top-0 start-0 w-100 h-100 d-none bg-white bg-opacity-75 z-3">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'system/assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
<script src="{% static 'system/js/system_manage/script_main.js' %}?"></script>
<script src="{% static 'system/js/system_manage/script_product.js' %}"></script>
<script src="{% static 'system/js/system_manage/script_option.js' %}"></script>
{% endblock javascripts %}