{% extends "layouts/system_base.html" %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'system/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css' %}" />
{% endblock stylesheets %}


{% block content %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Hoverable Table rows -->
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="card-title">{{customer.name}} 고객님의 주문 정보 <span class="badge bg-label-primary rounded-pill">{{total_count|intcomma}} 건</span></h5>
                <div class="d-flex align-items-center gap-2">
                    <select id="status" class="form-select form-select-sm" onchange="location.href='?status='+this.value">
                        <option value="" {% if status == ''%}selected{% endif %}>전체</option>
                        <option value="0" {% if status == '0'%}selected{% endif %}>주문요청</option>
                        <option value="1" {% if status == '1'%}selected{% endif %}>주문완료</option>
                        <option value="2" {% if status == '2'%}selected{% endif %}>전달완료</option>
                        <option value="3" {% if status == '3'%}selected{% endif %}>주문취소</option>
                    </select>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>주문날짜 <a href="?sort=order_date&order={% if order == 'asc' and sort == 'order_date' %}desc{% else %}asc{% endif %}&status={{status}}">{% if sort == 'order_date' %}{% if order == 'desc' %}<i class="ri-sort-desc ms-2"></i>{% else %}<i class="ri-sort-asc ms-2"></i>{% endif %}{% else %}<i class="ri-arrow-up-down-line ms-2"></i>{% endif %}</a></th>
                            <th>회원</th>
                            <th>주문내용  <a href="?sort=order_name&order={% if order == 'asc' and sort == 'order_name' %}desc{% else %}asc{% endif %}&status={{status}}">{% if sort == 'order_name' %}{% if order == 'desc' %}<i class="ri-sort-desc ms-2"></i>{% else %}<i class="ri-sort-asc ms-2"></i>{% endif %}{% else %}<i class="ri-arrow-up-down-line ms-2"></i>{% endif %}</a></th>
                            <th>중요</th>
                            <th>잠금장치</th>
                            <th>상태 <a href="?sort=status&order={% if order == 'asc' and sort == 'status' %}desc{% else %}asc{% endif %}&status={{status}}">{% if sort == 'status' %}{% if order == 'desc' %}<i class="ri-sort-desc ms-2"></i>{% else %}<i class="ri-sort-asc ms-2"></i>{% endif %}{% else %}<i class="ri-arrow-up-down-line ms-2"></i>{% endif %}</a></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        {% if page_obj %}
                            {% for i in page_obj %}
                            <tr>  
                            <td>
                                <span class="text-nowrap cursor-pointer btn-edit-order" data-bs-toggle="offcanvas" data-bs-target="#editOrder" data-id="{{ i.id }}" data-order_name="{{ i.order_name }}" data-order_date="{{ i.order_date|date:'Y-m-d' }}" data-order_note="{{i.order_note|default:''}}" data-status="{{ i.status }}" data-customer_name="{{ i.customer.name|default:'' }}" data-customer_phone="{{ i.customer.phone|default:'' }}" data-comment="{{ i.comment|default:'' }}" data-option="{{ i.option }}">{{i.order_date}}</span>
                            </td>                                
                            <td>
                              <span class="cursor-pointer btn-edit-order"data-bs-toggle="offcanvas" data-bs-target="#editOrder" data-id="{{ i.id }}" data-order_name="{{ i.order_name }}" data-order_date="{{ i.order_date|date:'Y-m-d' }}" data-order_note="{{i.order_note|default:''}}" data-status="{{ i.status }}" data-customer_name="{{ i.customer.name|default:'' }}" data-customer_phone="{{ i.customer.phone|default:'' }}" data-comment="{{ i.comment|default:'' }}" data-option="{{ i.option }}">
                                {% if i.customer %}
                                  {{ i.customer.name }}
                                {% else %}
                                  미등록
                                {% endif %}
                                {% if i.customer and i.customer.comment %}
                                  <i class="ri-information-line" data-bs-toggle="tooltip" data-bs-html="true" title="회원설명:<br>{{ i.customer.comment|linebreaksbr|escape }}"></i>
                                {% endif %}
                              </span>
                            </td>
                            <td><a class="text-heading text-truncate btn-edit-order" href="javascript:;" data-bs-toggle="offcanvas" data-bs-target="#editOrder" data-id="{{ i.id }}" data-order_name="{{ i.order_name }}" data-order_date="{{ i.order_date|date:'Y-m-d' }}" data-order_note="{{i.order_note|default:''}}" data-status="{{ i.status }}" data-customer_name="{{ i.customer.name|default:'' }}" data-customer_phone="{{ i.customer.phone|default:'' }}" data-comment="{{ i.comment|default:'' }}" data-option="{{ i.option }}">{{i.order_name}}</a></td>
                            <td><span class="cursor-pointer btn-edit-order" data-bs-toggle="offcanvas" data-bs-target="#editOrder" data-id="{{ i.id }}" data-order_name="{{ i.order_name }}" data-order_date="{{ i.order_date|date:'Y-m-d' }}" data-order_note="{{i.order_note|default:''}}" data-status="{{ i.status }}" data-customer_name="{{ i.customer.name|default:'' }}" data-customer_phone="{{ i.customer.phone|default:'' }}" data-comment="{{ i.comment|default:'' }}" data-option="{{ i.option }}">{{i.order_note|default:''}}</span></td>
                            <td>
                              {% if i.option == '0' %}
                              <span class="badge bg-label-secondary">없음</span>
                              {% elif i.option == '1' %}
                              <span class="badge bg-label-primary">환산</span>
                              {% elif i.option == '2' %}
                              <span class="badge bg-label-warning">별도</span>
                              {% else %}
                              <span class="badge bg-label-danger">오류</span>
                              {% endif %}
                            </td>
                            <td>
                                <select class="select2 select-event-label form-select form-select-sm select2-order-status" data-order-id="{{ i.id }}" data-prev-status="{{ i.status }}">
                                    <option data-label="primary" value="0" {% if i.status == '0'%}selected{% endif %}>주문요청</option>
                                    <option data-label="warning" value="1" {% if i.status == '1'%}selected{% endif %}>주문완료</option>
                                    <option data-label="success" value="2" {% if i.status == '2'%}selected{% endif %}>전달완료</option>
                                    <option data-label="danger" value="3" {% if i.status == '3'%}selected{% endif %}>주문취소</option>
                                </select>
                            </td>
                            <td>
                                <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item btn-edit-order" href="javascript:;" data-bs-toggle="offcanvas" data-bs-target="#editOrder" data-id="{{ i.id }}" data-order_name="{{ i.order_name }}" data-order_date="{{ i.order_date|date:'Y-m-d' }}" data-order_note="{{i.order_note|default:''}}" data-status="{{ i.status }}" data-customer_name="{{ i.customer.name|default:'' }}" data-customer_phone="{{ i.customer.phone|default:'' }}" data-comment="{{ i.comment|default:'' }}" data-option="{{ i.option }}"><i class="ri-pencil-line me-1"></i> 수정</a>
                                    <a class="dropdown-item btn-delete" href="javascript:;" data-order-id="{{i.id}}" data-order_name="{{i.order_name}}"><i class="ri-delete-bin-line me-1"></i> 삭제</a>
                                </div>
                                </div>
                            </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-center" colspan='5'>데이터가 없습니다.</td>
                            </tr>
                        {% endif %}              
                        </tbody>
                    </table>
                    {% include 'admin_pagination.html' %}
                </div>
            </div>
        </div>
        <!--/ Hoverable Table rows -->
        <div class="offcanvas offcanvas-end" id="editOrder" aria-hidden="true">
            <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title">주문 정보 수정</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body mx-0 flex-grow-0 h-100">
              <form id="editOrderForm">
                <h6>필수입력</h6>
                <input type="hidden" id="editOrderId" name="order_id" />
                <div class="form-floating form-floating-outline mb-3">
                  <input type="text" class="form-control" placeholder="YYYY-MM-DD" id="editOrderDate" name="order_date" value="{% now 'Y-m-d' %}"/>
                  <label for="editOrderDate">주문날짜자</label>
                </div>
                <div class="form-floating form-floating-outline mb-3">
                  <input type="text" class="form-control" id="editOrderName" placeholder="주문내용" name="order_name" aria-label="주문내용" />
                  <label for="editOrderName">주문내용</label>
                </div>
                <div class="form-floating form-floating-outline mb-3">
                    <input type="text" id="editOrderNote" name="order_note" class="form-control" placeholder="중요"/>
                    <label for="editOrderNote">중요</label>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <small class="fw-medium d-block">잠금장치</small>
                    <div class="form-check form-check-inline mt-2">
                      <input class="form-check-input" type="radio" name="option" id="editRadio1" value="0"/>
                      <label class="form-check-label" for="editRadio1">없음</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="option" id="editRadio2" value="1" />
                      <label class="form-check-label" for="editRadio2">환산</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="option" id="editRadio3" value="2"/>
                      <label class="form-check-label" for="editRadio3">별도</label>
                    </div>
                  </div>
                </div>
                <div class="form-floating form-floating-outline mb-3">
                    <select class="select2 select-event-label form-select" id="editOrderStatus" name="status">
                        <option data-label="primary" value="0">주문요청</option>
                        <option data-label="warning" value="1">주문완료</option>
                        <option data-label="success" value="2">전달완료</option>
                        <option data-label="danger" value="3">주문취소</option>
                    </select>
                    <label for="editOrderStatus">상태</label>
                </div>
                <hr>
                <h6>선택입력</h6>
                <div class="form-floating form-floating-outline form-floating-bootstrap-select mb-3">
                    <select id="editCustomers" class="selectpicker w-100" data-style="btn-default" data-live-search="true" data-show-subtext="true" title="고객명 또는 전화번호로 검색해주세요.">
                        <option value="">미등록</option>
                        {% for i in customers %}
                            <option data-tokens="{{i.phone}}" data-subtext="{{i.phone}}" value={{i.phone}}>{{i.name}}</option>
                        {% endfor %}
                    </select>
                    <label for="editCustomers">고객조회</label>
                </div>
                <div class="form-floating form-floating-outline mb-3">
                  <input type="text" class="form-control" id="editCustomerName" placeholder="고객명" name="customer_name" aria-label="고객명" />
                  <label for="editCustomerName">고객명</label>
                </div>
                <div class="form-floating form-floating-outline mb-3">
                    <input type="tel" id="editCustomerPhone" name="customer_phone" class="form-control number-only" placeholder="고객 연락처" maxlength="11"/>
                    <label for="editCustomerPhone">고객 연락처</label>
                </div>
                <div class="form-floating form-floating-outline mb-3">
                    <textarea class="form-control h-px-75" name="comment" id="editComment" placeholder="주문 비고"></textarea>
                    <label for="editComment">주문 비고</label>
                </div>
                <div class="mb-4 d-flex justify-content-sm-between justify-content-start my-6 gap-2">
                    <div class="d-flex">
                        <button type="button" id="btnEdit" class="btn btn-primary me-4 waves-effect waves-light btn-update-event">수정</button>
                        <button type="reset" class="btn btn-outline-secondary btn-cancel me-sm-0 me-1 waves-effect" data-bs-dismiss="offcanvas">닫기</button>
                    </div>
                    <button class="btn btn-outline-danger btn-delete-event waves-effect" type="button" id="btnDelete">삭제</button>
                </div>
              </form>
            </div>
        </div>
        <hr class="my-12">
    </div>
</div>
{{ customers|json_script:"customers-data" }}
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'system/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'system/assets/vendor/libs/bootstrap-datepicker/locales/bootstrap-datepicker.ko.min.js' %}"></script>
<script>
    const customers = JSON.parse(document.getElementById('customers-data').textContent);
    const customerByPhone = new Map();
    customers.forEach(c => {
        customerByPhone.set(c.phone, c);
    });

    $("#editOrderDate").datepicker({ 
      format: "yyyy-mm-dd",
      language: "ko",  // 한글 설정
      autoclose: true, // 날짜 선택 후 자동 닫힘
      endDate: "today", // 오늘 이후 날짜 선택 불가
      todayHighlight: true // 오늘 날짜 강조 표시
    });
</script>
<script src="{% static 'js/script_pagination.js' %}"></script>
<script src="{% static 'system/js/customer_manage/script_customer_order_manage.js' %}?v=5"></script>
{% endblock javascripts %}