{% load static %}
<!doctype html>

<html lang="en"
  {% if active_menu1 %}
    class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
  {% else %}
    class="light-style layout-wide customizer-hide"
  {% endif %}
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{% static 'system/assets/' %}"
  data-template="vertical-menu-template"
  data-style="light">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    {% block title %}
      <title>{{global_site_name}} Admin</title>
    {% endblock %}
    <meta name="description" content="" />
    {% block meta %}{% endblock %}

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'system/assets/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
      rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'system/assets/vendor/fonts/remixicon/remixicon.css' %}" />
    <link rel="stylesheet" href="{% static 'system/assets/vendor/fonts/flag-icons.css' %}" />

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="{% static 'system/assets/vendor/libs/node-waves/node-waves.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'system/assets/vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'system/assets/vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'system/assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'system/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'system/assets/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'system/assets/vendor/libs/apex-charts/apex-charts.css' %}" />
    <link rel="stylesheet" href="{% static 'system/assets/vendor/libs/swiper/swiper.css' %}" />
    <link rel="stylesheet" href="{% static 'system/assets/vendor/libs/@form-validation/form-validation.css' %}" />
    <link rel="stylesheet" href="{% static 'system/assets/vendor/libs/bootstrap-select/bootstrap-select.css' %}" />

    <link rel="stylesheet" href="{% static 'system/assets/vendor/libs/animate-css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'system/assets/vendor/libs/sweetalert2/sweetalert2.css' %}" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'system/assets/vendor/css/pages/page-auth.css' %}" />

    {% block stylesheets %}{% endblock stylesheets %}

    <!-- Helpers -->
    <script src="{% static 'system/assets/vendor/js/helpers.js' %}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="{% static 'system/assets/vendor/js/template-customizer.js' %}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'system/assets/js/config.js' %}"></script>
  </head>

  <body>
    {% csrf_token %}
    <!-- Content -->
    {% block body %}
      <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
          <!-- Menu -->
          {% block header %}
            {% include 'includes/system/sidebar.html' %}
          {% endblock %}
          <!-- / Menu -->

          <!-- Layout container -->
          <div class="layout-page">
            <!-- Navbar -->
            {% block navbar %}
              {% include 'includes/system/navbar.html' %}
            {% endblock %}
            <!-- / Navbar -->

            <!-- Content wrapper -->
            {% block main %}
              {% block content %}
              <div class="content-wrapper"></div>
              {% endblock %}
              {% block footer %}
                {% include 'includes/system/footer.html' %}
              {% endblock %}
              <div class="content-backdrop fade"></div>
            {% endblock %}
            <!-- / Content wrapper -->
          </div>
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>

        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>

      </div>

    {% endblock %}
    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'system/assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'system/assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'system/assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'system/assets/vendor/libs/node-waves/node-waves.js' %}"></script>
    <script src="{% static 'system/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'system/assets/vendor/libs/hammer/hammer.js' %}"></script>
    <script src="{% static 'system/assets/vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'system/assets/vendor/libs/typeahead-js/typeahead.js' %}"></script>
    <script src="{% static 'system/assets/vendor/js/menu.js' %}"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'system/assets/vendor/libs/@form-validation/popular.js' %}"></script>
    <script src="{% static 'system/assets/vendor/libs/@form-validation/bootstrap5.js' %}"></script>
    <script src="{% static 'system/assets/vendor/libs/@form-validation/auto-focus.js' %}"></script>
    <script src="{% static 'system/assets/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
    <script src="{% static 'system/assets/vendor/libs/moment/moment.js' %}"></script>

    <script src="{% static 'system/assets/vendor/libs/sweetalert2/sweetalert2.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'system/assets/js/main.js' %}"></script>

    <script src="{% static 'js/script_base.js' %}?v=5"></script>

    {% block javascripts %}{% endblock javascripts %}
  </body>
</html>
