<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
        <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
        <div class="text-body mb-2 mb-md-0">
            © 2025, made with <span class="text-danger"><i class="tf-icons ri-heart-fill"></i></span> by <a href="https://smartstore.naver.com/jewelria" target="_blank" class="footer-link">GOLD24K</a>
        </div>
        <div class="d-none d-lg-inline-block">
            <a href="https://m.stock.naver.com/marketindex/metals/M04020000" target="_blank" class="footer-link me-4">네이버 금시세</a>
        </div>
        </div>
    </div>
</footer>
<!-- / Footer -->
